<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167136545013-doa23k44h5g0utuvbg7a43f4uljpk5ii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167136545013-doa23k44h5g0utuvbg7a43f4uljpk5ii</string>
	<key>API_KEY</key>
	<string>AIzaSyA_vbOUWBa1bYZWL7Du8Lf8jt0uwhm-A1g</string>
	<key>GCM_SENDER_ID</key>
	<string>167136545013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fantasy</string>
	<key>PROJECT_ID</key>
	<string>loche-ffa</string>
	<key>STORAGE_BUCKET</key>
	<string>loche-ffa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167136545013:ios:6d9edc8ee0d99c255dddbc</string>
</dict>
</plist>